{
	email admin@code-learning-assistant.duckdns.org
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{$DOMAIN} {
	encode gzip

	@backend path /api/* /health /docs /redoc
	handle @backend {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:80
	}
}